@model List<ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Offer Discount Title</th>
                                <th>Subtitle</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>

                        @if (Model is not null)
                        {
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.SubTitle</td>
                                        <td>@item.ImageUrl</td>
                                        <td>@item.ButtonTitle</td>
                                        <td><a href="/Admin/OfferDiscount/DeleteOfferDiscount/@item.OfferDiscountId" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Admin/OfferDiscount/UpdateOfferDiscount/@item.OfferDiscountId" class="btn btn-success">Update</a></td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                    <a href="/Admin/OfferDiscount/CreateOfferDiscount/" class="btn btn-primary">Add new OfferDiscount</a>
                </div>
            </div>
        </div>
    </div>
</section>

