@model UpdateSpecialOfferDto
@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/Index.cshtml";
}

<h1>UpdateSpecialOffer</h1>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="SpecialOfferId"/>

                        <label>Special Offer Title</label>
                        <input type="text" asp-for="Title" class="form-control" /><br />
                        <label>Special Offer SubTitle</label>
                        <input type="text" asp-for="SubTitle" class="form-control"/><br />
                        <label>Special Offer Image</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" /><br />
                        <button class="btn btn-primary">Update Special Offer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
